<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="qrrun"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="Youhei Sakurai"
    UpgradeCode="B1A2C8E2-3E4B-4F93-ABF7-D39C45FB0C6D">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of qrrun is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="ApplicationFolderName" Value="qrrun" />
    <Property Id="WixUISupportPerUser" Value="1" />
    <Property Id="WixUISupportPerMachine" Value="1" />
    <Property Id="ARPCONTACT" Value="Youhei Sakurai" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/sakurai-youhei/qrrun" />
    <Property Id="ARPHELPLINK" Value="https://github.com/sakurai-youhei/qrrun/issues" />
    <Property Id="ARPCOMMENTS" Value="qrrun tunnels local scripts and lets mobile runtimes execute them by scanning a QR code." />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WixPerMachineFolder">
        <Directory Id="INSTALLDIR_MACHINE" Name="qrrun">
          <Component Id="QrrunMachine" Guid="6A0D4A31-4F24-4E0D-9DB3-7E6A04A9DE81">
            <Condition>ALLUSERS=1</Condition>
            <File Id="QrrunExeMachine" Source="$(var.BinarySource)" KeyPath="yes" Name="qrrun.exe" />
            <Environment
              Id="PathMachine"
              Name="PATH"
              Action="set"
              Part="last"
              Permanent="no"
              System="yes"
              Value="[INSTALLDIR_MACHINE]" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="WixPerUserFolder">
        <Directory Id="INSTALLDIR_USER" Name="qrrun">
          <Component Id="QrrunUser" Guid="B2EA6F0E-8E17-4D27-9A93-1F31D4DF1D3F">
            <Condition>ALLUSERS&lt;&gt;1</Condition>
            <File Id="QrrunExeUser" Source="$(var.BinarySource)" KeyPath="yes" Name="qrrun.exe" />
            <Environment
              Id="PathUser"
              Name="PATH"
              Action="set"
              Part="last"
              Permanent="no"
              System="no"
              Value="[INSTALLDIR_USER]" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="qrrun" Level="1">
      <ComponentRef Id="QrrunMachine" />
      <ComponentRef Id="QrrunUser" />
    </Feature>

    <UIRef Id="WixUI_Advanced" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
